DOMAIN=aqtivite.internal
PLANE_HOST=board.aqtivite.com.tr

# DB
POSTGRES_USER=plane
POSTGRES_PASSWORD=strongpassword
POSTGRES_DB=postgres
POSTGRES_HOST=plane-db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://plane-redis:6379

# Security
SECRET_KEY=super-secret-key
DJANGO_SETTINGS_MODULE=plane.settings.production

# Email (opsiyonel ama önerilir)
EMAIL_HOST=live.smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_HOST_USER=smtp@mailtrap.io
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true
EMAIL_FROM=Plane <mail@board.aqtivite.com.tr>
