PLANE_SERVER_HOSTNAME=board.example.com
APP_RELEASE=v1.2.1

WEB_REPLICAS=1
SPACE_REPLICAS=1
ADMIN_REPLICAS=1
API_REPLICAS=1
WORKER_REPLICAS=1
BEAT_WORKER_REPLICAS=1
LIVE_REPLICAS=1

WEB_URL=https://${PLANE_SERVER_HOSTNAME}
DEBUG=0
CORS_ALLOWED_ORIGINS=https://${PLANE_SERVER_HOSTNAME}
API_BASE_URL=http://api:8000

#DB SETTINGS
PGHOST=postgres
PGDATABASE=plane
POSTGRES_USER=plane
POSTGRES_PASSWORD=
POSTGRES_DB=plane
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data

# REDIS SETTINGS
REDIS_HOST=plane-redis
REDIS_PORT=6379
REDIS_URL=

# RabbitMQ Settings
RABBITMQ_HOST=plane-mq
RABBITMQ_PORT=5672
RABBITMQ_USER=plane
RABBITMQ_PASSWORD=plane
RABBITMQ_VHOST=plane
AMQP_URL=

TRUSTED_PROXIES=0.0.0.0/0

# Secret Key
SECRET_KEY=

# DATA STORE SETTINGS
# If you want to use DigitalOcean Spaces, set USE_MINIO=0 and provide the appropriate values for AWS_REGION,
# AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, AWS_S3_ENDPOINT_URL, AWS_S3_BUCKET_NAME, and FILE_SIZE_LIMIT.
USE_MINIO=0
AWS_REGION=ams3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT_URL=https://ams3.digitaloceanspaces.com
AWS_S3_BUCKET_NAME=
FILE_SIZE_LIMIT=5242880
# If you want to use MinIO instead of DigitalOcean Spaces, uncomment the following lines and set the appropriate values.
#USE_MINIO=1
#AWS_REGION=
#AWS_ACCESS_KEY_ID=access-key
#AWS_SECRET_ACCESS_KEY=secret-key
#AWS_S3_ENDPOINT_URL=http://plane-minio:9000
#AWS_S3_BUCKET_NAME=uploads
#FILE_SIZE_LIMIT=5242880

# Gunicorn Workers
GUNICORN_WORKERS=1

# UNCOMMENT `DOCKER_PLATFORM` IF YOU ARE ON `ARM64` AND DOCKER IMAGE IS NOT AVAILABLE FOR RESPECTIVE `APP_RELEASE`
# DOCKER_PLATFORM=linux/amd64

# Force HTTPS for handling SSL Termination
MINIO_ENDPOINT_SSL=0

# API key rate limit
API_KEY_RATE_LIMIT=60/minute

# Live server environment variables
# WARNING: You must set a secure value for LIVE_SERVER_SECRET_KEY in production environments.
LIVE_SERVER_SECRET_KEY=
DOCKERHUB_USER=artifacts.plane.so/makeplane
PULL_POLICY=if_not_present
CUSTOM_BUILD=false
